.user-table-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-container input {
  padding: 10px;
  border: 2px solid black !important;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  background: white;
  margin-right: 10px;
}

.filter-container select {
  padding: 10px;
  border: 2px solid black !important;
  border-radius: 5px;
  background: white;
  font-size: 16px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #f4f4f4;
}
